/* Table and Mobile */
@media (max-width: 1023px) {
    .btn-buy-ticket {
        padding: 15px 16px;
    }

    .contact-content .form-control{
        padding: 15px;
    }   

    .contact-content .contact-info{
        line-height: 2;
    }

    #footer .socials-list a {
        padding: 0 8px;
    }

    #footer  .copy-right{
        padding: 8px 0;
        display: inline-block;
    }

    #nav .subnav li a{
        padding: 5px 12px;
    }


}

/*Moblie */
@media (max-width: 739px) {
    .s-full-width,
    .s-col-full{
        width: 100%;

    }

    .s-mt-8 {
        margin-top: 8px;
    }

    .s-mt-16 {
        margin-top: 16px;
    }
    
    #nav {
        display: block;
    }

    #nav >li {
        display: block;

    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: inherit;
        background-color: #333;
        width: 100%;
    }
    
    #nav .subnav li a{
        color: #fff;
        display: block;
        padding: 5px 41px;
    }

    #header {
        overflow: hidden;
    }

    #header .search-button{
        display: none;
    }
    #header .menu-moblie-button{
        display: block;
    }



}