/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* 
1.Vi tri
2.Kich thuoc
3.Mau sac
4.Kieu dang
 */

.text-white{
    color: #fff !important;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.mt-32{
    margin-top: 32px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: calc(100%/3);    
}

.col-full{
    width: calc(100%/1);
} 
.col-half{
    width: calc(100%/2);
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.pull-right {
    float: right;
}

.text-center {
    align-items: center !important;

}

#main{
   
}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style: none;

}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}

#nav li a{
    line-height: 46px;
    text-decoration: none;
    padding: 0 24px;
    display: inline-block;
}


#nav > li:hover > a{
    color: black;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: inline-block;
}

#nav  .subnav  li:hover a
{
    color: black;
    background-color: #ccc;
}

#nav .subnav  li a
{
    color:  black;
    width: 100%;
    line-height: 38px;
    padding: 0 16px;
    min-width: 160px;
}

#nav .subnav{
    display:  none; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px;

}

#nav .nav-arrowdown {
    font-size: 14px;
}


#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .menu-moblie-button{
    display: none;
    float: right;
    padding: 0 21px;
    position: absolute;
    top: 0;
    right: 0;
}


#header .menu-moblie-button:hover,
#header .search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;

}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/w3_band/assets/img/ny.jpg') top center / cover no-repeat;
}   

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-shadow: 0 1 1px #000;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text{
    margin-top: 25px;
    font-size: 15px;
}

#content{

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px;

}

#content .content-section .section-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 6px;
    text-align: center;
}

#content .content-section .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .content-section .about-text{
    font-size: 15px;
    text-align: center;
    text-align: justify;
    line-height: 1.6;
}

#content .members-list{
    padding-top: 32px;
    text-align: center;
    overflow: hidden;
}

#content .member-name{
    font-size: 15px;
   
}

#content .member-img{
    text-align: center;
    width: 154px;
    margin-top: 15px;
    border-radius:  5px;
}

.tour-section {
    background-color: black;
    
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li{
    list-style: none;
   color: #757575;
   font-size: 15px;
   padding: 11px 16px;
   border-bottom: 1px #ccc solid;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.places-list{
    margin-top: 16px;
    overflow: hidden;
} 

.palce-img{
    width: 100%;
    display: block;
}

.palce-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-name{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    opacity: 0.7;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.btn-buy-ticket{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
}

.btn-buy-ticket:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


.model{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
    background: rgba(0, 0, 0, 0.4) ;
    display: none;
    align-items: center;
    justify-content: center;
}

.model-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modelFadeIn ease 0.5s;
}

.model-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.model-heading-icon{
    margin-right: 16px;
}
.model-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.model-body {
    padding: 16px;
}

.model-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.model-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buy-tickets:hover{
    opacity: 0.9;
    cursor: pointer;
}

.model-footer{
    padding: 18px;
    text-align: right;
}

.model.open {
    display: flex;
}

@keyframes modelFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
    
.contact-content{
    margin-top: 48px;
    overflow: hidden;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info p a{
    text-decoration: none;
    color: blue;
    opacity: 0.6;
}

.contact-info p a:hover{
    opacity: 0.9;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
}


#footer{
    padding: 64px 16px;
    text-align: center;
}

.socials-list a{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.socials-list a:hover{
    opacity: 0.4;
}

#footer .copy-right{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copy-right a {
    color: rgba(0, 0, 0, 0.6);
}